@model IEnumerable<TermPaper.Models.LotModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pending lots</h2>

<p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (!item.IsConfirmed)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <input type="button" class="btn btn-info" value="View details"
                               onclick="location.href= '@Url.Action("Details", "Lot", new { id = item.Id })'" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-success" value="Confirm"
                               onclick="location.href='@Url.Action("Confirm", "Manager", new { id = item.Id })'" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-danger" value="Decline"
                               onclick="location.href='@Url.Action("Decline", "Manager", new { id = item.Id })'" />
                    </td>
                </tr>
            }
        }

    </table>


