@model IEnumerable<TermPaper.Models.LotModel>

@{
    ViewBag.Title = "Lots";
}

<h2>Index</h2>
<p>
    @using (Html.BeginForm("Index", "Lot", FormMethod.Get))
    {
        <p>
            Category: @Html.DropDownList("lotCategory", "All")
            Name: @Html.TextBox("SearchString") <br />
            <input type="submit" class="btn btn-primary col-sm-2" value="Filter" />
        </p>
    }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <input type="button" class="btn btn-info" value="View details" 
                               onclick="location.href='@Url.Action("Details", "Lot", new { id = item.Id })'" />
                    </td>

                    @if (this.User.IsInRole("admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    }

                </tr>
            }

        </table>
