@model IEnumerable<TermPaper.Models.LotModel>

@{
    ViewBag.Title = "UserLotsListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your lots</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (!item.IsConfirmed && item.UserId == ViewBag.CurrentUserId)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="View details"
                           onclick="location.href='@Url.Action("Details", "Lot", new { id = item.Id })'" />
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="Edit"
                           onclick="location.href='@Url.Action("Edit", "Lot", new { id = item.Id })'" />
                </td>
            </tr>
        }
    }

</table>

